@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.motor1.com%2Fimages%2Fmgl%2FpEYGg%2Fs1%2Fbmw-545e-xdrive-sedan.jpg&f=1&nofb=1&ipt=29b868f8dac61261f78ea1255ba3c82fb77e7365bb80ff34d519155e02c0b95b&ipo=images");
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2.page-header {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 15px;
  vertical-align: middle;
}

.nav-sticky {
	position: sticky;
	top: 0;
  z-index: 1;
}

.dropdown:hover>.dropdown-menu {

  transition-delay: 1s;
  transition-property: all;
  display: block;
}

.table-sortable > thead > tr > th {
  cursor: pointer;
  position: relative;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after {
  content: ' ';
  position: absolute;
  height: 0;
  width: 0;
  right: 10px;
  top: 16px;
}

.table-sortable > thead > tr > th:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
  border-bottom: 0px solid transparent;
}

.table-sortable > thead > tr > th:hover:after {
  border-top: 5px solid #888;
}

.table-sortable > thead > tr > th.asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 5px solid #333;
}
.table-sortable > thead > tr > th.asc:hover:after {
  border-bottom: 5px solid #888;
}

.table-sortable > thead > tr > th.desc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
}
